@import url(./fonts/fonts.css);

:root {
    /* COLORS */
    --colorBlack: #1c1916;
    --colorDarkGrey: #2e2e2e;
    --colorWhite: #f4f1ea;
    --colorRed: #bb0a21;

    /* FONT */
    --fontSizeBig: 26px;
    --fontSizeMedium: 22px;
    --fontSizeSmall: 16px;
    --fontFamily: "Averia Serif Libre", cursive;

    /* MARGIN */
    --marginSmall: 5px;
    --marginMedium: 10px;

    /* THEME */
    --backgroundLigth: url(./img/background/bg-light.png);
    --backgroundDark: url(./img/background/bg-dark.png);
    --backgroundDefault: var(--backgroundDark);

    --colorDefault: var(--colorWhite);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontFamily);
    color: var(--colorDefault);
    background-image: var(--backgroundDefault);
    background-attachment: fixed;
}

/* SCROLL */

* {
    scrollbar-color: var(--colorRed);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--colorRed);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: var(--colorDarkGrey);
}

::-webkit-scrollbar-corner {
    background: var(--colorDarkGrey);
}
