.container {
    position: relative;
}

.counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 25px;
    height: 25px;
    top: -10px;
    right: -10px;
    background: var(--colorDarkGrey);
    border-radius: 50%;
    color: var(--colorWhite);
}

.icon {
    width: 50px;
    fill: var(--colorDefault);
}
