.link {
    color: var(--colorDefault);
}

.linkActive {
    color: var(--colorRed);
}

.linkActive svg {
    fill: var(--colorRed);
}

@media (max-width: 640px) {
    .link {
        color: var(--colorWhite);
    }

    .linkActive {
        color: var(--colorRed);
    }
}
