.cardsNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsNav_button {
    margin: 0 10px;
}

.cardsPagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
