span {
    display: block;
}

.container {
    max-width: 400px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.name {
    font-size: var(--fontSizeBig);
}

.manaCost {
    display: flex;
    align-items: center;
}

.manaItem {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px 1px -1px 1px;
    border-radius: 50%;
    box-shadow: -1px 1px 0 rgb(0 0 0 / 85%);
}

.manaItem_big {
    width: 20px;
    height: 20px;
}

.type {
    margin-bottom: 10px;
}

.text {
    background: #f8f4eb;
    padding: 10px;
    border-radius: 10px;

    font-weight: lighter;
    line-height: 130%;
    white-space: pre-wrap;
    color: var(--colorBlack);
}

.originalText {
}

.flavor {
    margin-top: 20px;
    font-style: italic;
}

/* any  #cdc3c1*/
/* white #fffbd6 */
/* green #9cd4b0 */
/* black #ccc3c0 */
/* red #f9ac90 */
/* blue #abe1fa */
