.cardListContainer {
    width: 100%;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc((var(--cardItemSize) + (var(--marginMedium) * 2)) * 4);
    margin: 0 auto;
    padding: 30px 0;
    list-style: none;
}

.cardListItem {
    margin: var(--marginMedium);
}

.notFound {
    text-align: center;
    margin: 100px auto;
}
