.cardListContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: var(--marginMedium);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 0;
    list-style: none;
}

.cardListItem {
    min-width: 200px;
    width: 100%;
}

.notFound {
    text-align: center;
    margin: 100px auto;
}

@media (max-width: 1124px) {
    .cardList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 680px) {
    .cardList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .cardList {
        grid-template-columns: 1fr;
    }
}
