.container {
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 30% 10% 30% 10%;
    overflow: hidden;
}

.halfBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s linear;
}

.halfBtn img {
    width: 25px;
    transition: 0.3s linear;
}

.light {
    background: #fffbd6;
}

.dark {
    background: #ccc3c0;
}

.halfBtn.light:hover img,
.halfBtn.dark:hover img {
    width: 35px;
}
